<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<div class="gmap" #gmap></div>
<form class="form-inline" (ngSubmit)="fetchLocationByPin(f)" #f="ngForm">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="pinCode" placeholder="pin code" ngModel>
  </div>
  <div class="form-group mb-2">
    <button class="btn btn-primary" (click)="fetchLocation()">Show location</button>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="type" placeholder="search type" ngModel>
  </div>
  <button class="btn btn-primary mb-2" type="submit">
      <fa name="search"></fa>
  </button>
</form>

<div class="row" *ngIf="this.locationFound">
  <h3>Location found. Loading data...</h3>
</div>

<!-- <button type="submit" class="btn btn-primary" (click)="fetchPlaces()">Show</button> -->
<table class="table table-sm table-hover">
  <tr *ngFor="let item of results">
    <td>{{ item.name }}</td>
    <td>{{ item.rating }}</td>
    <td>{{ item.opening_hours.open_now }}</td>
    <td>{{ item.price_level }}</td>
    <td><a target='_blank'
        href="http://maps.google.com/maps?q=loc:{{item.geometry.location.lat()}},{{item.geometry.location.lng()}}"><span
          class='glyphicon glyphicon-search'></span></a> </td>
  </tr>
</table>