<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->
<div class="container">
  <img src="../../assets/images/carousel.jpg" alt="" />
  <div class="parentDiv">
    <div class="gmap" #gmap></div>
    <!-- ================== LOCATION FORM ================== -->
    <form
      class="form-inline formLeft"
      (ngSubmit)="fetchLocation(f)"
      #f="ngForm"
    >
      <div class="form-group mx-sm-3 mb-2">
        <input
          type="text"
          class="form-control"
          name="pinCode"
          placeholder="pin code"
          ngModel
        />
      </div>
      <div class="form-group mb-2">
        <button class="btn btn-primary" type="submit">
          <fa name="map-marker" size="lg"></fa>
        </button>
      </div>
    </form>

    <!-- ================== PLACES FORM ================== -->
    <form class="form-inline" (ngSubmit)="fetchPlace(x)" #x="ngForm">
      <div class="form-group mx-sm-3 mb-2" style="width: 60%">
        <input
          type="text"
          class="form-control"
          name="type"
          placeholder="what are you looking for?"
          style="width: 100%"
          ngModel
        />
      </div>
      <button class="btn btn-primary mb-2" type="submit">
        <fa name="search"></fa>
      </button>
    </form>
    <!-- ================== TEXT ================== -->
    <div class="row" *ngIf="this.locationFound === false">
      <h3 class="font-weight-light"></h3>
    </div>

    <div class="row" *ngIf="this.locationFound === true">
      <h3 class="font-weight-light">
        {{ this.LocationFoundText }}
      </h3>
    </div>

    <div
      class="row"
      *ngIf="this.locationFound === false && this.placesFound === true"
    >
      <h3 class="font-weight-light">
        {{ this.PlacesFoundText }}
      </h3>
    </div>

    <!-- ================== RESUTS ================== -->

    <div class="place_results" #placeResults>
      <div class="card" style="width: 15rem;" *ngFor="let item of this.results">
        <img class="card-img-top" src="{{ item.icon }}" alt="Card image cap" />
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6 class="card-title">{{ item.name }}</h6>
            </li>
            <li class="list-group-item">
              <p class="card-text">Price level: {{ item.price_level }}</p>
            </li>
            <li class="list-group-item">
              <a
                target="_blank"
                href="http://maps.google.com/maps?q=loc:{{
                  item.geometry.location.lat()
                }},{{ item.geometry.location.lng() }}"
                class="btn btn-primary"
              >
                Directions
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />

<!-- <form class="form-inline" (ngSubmit)="testBackEndConnection(f)" #f="ngForm">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="username" placeholder="username" ngModel>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="password" placeholder="password" ngModel>
  </div>
  <button class="btn btn-primary" type="submit">TEST</button>
</form> -->
